In [1]:
import pandas as pd
import numpy as np

In [ ]:
url="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv"

In [4]:
url="https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/04_Apply/Students_Alcohol_Consumption/student-mat.csv"
df = pd.read_csv(url)

In [6]:
df_sliced = df.loc[:, 'school':'guardian']
display(df_sliced.head())

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,17,U,GT3,T,1,1,at_home,other,course,father
2,GP,F,15,U,LE3,T,1,1,at_home,other,other,mother
3,GP,F,15,U,GT3,T,4,2,health,services,home,mother
4,GP,F,16,U,GT3,T,3,3,other,other,home,father

In [7]:
capitalize_string = lambda x: str(x).upper()

# Example usage:
text = "hello world"
capitalized_text = capitalize_string(text)
print(f"Original: {text}")
print(f"Capitalized: {capitalized_text}")

text_2 = "python"
print(f"Capitalized: {capitalize_string(text_2)}")

Original: hello world
Capitalized: HELLO WORLD
Capitalized: PYTHON

In [8]:
df_sliced['Mjob'] = df_sliced['Mjob'].apply(capitalize_string)
df_sliced['Fjob'] = df_sliced['Fjob'].apply(capitalize_string)

display(df_sliced.head())

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,course,mother
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,course,father
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,other,mother
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,home,mother
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,home,father

In [9]:
display(df_sliced.tail())

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,reason,guardian
390,MS,M,20,U,LE3,A,2,2,SERVICES,SERVICES,course,other
391,MS,M,17,U,LE3,T,3,1,SERVICES,SERVICES,course,mother
392,MS,M,21,R,GT3,T,1,1,OTHER,OTHER,course,other
393,MS,M,18,R,LE3,T,3,2,SERVICES,OTHER,course,mother
394,MS,M,19,U,LE3,T,1,1,OTHER,AT_HOME,course,father

In [10]:
df['Mjob'] = df['Mjob'].apply(capitalize_string)
df['Fjob'] = df['Fjob'].apply(capitalize_string)

display(df.head())

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,...,5,3,3,1,1,3,4,5,5,6
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,...,4,3,2,2,3,3,10,7,8,10
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,...,3,2,2,1,1,5,2,15,14,15
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,...,4,3,2,1,2,5,4,6,10,10

In [12]:
def majority(age):
    return age > 17

df['legal_drinker'] = df['age'].apply(majority)

display(df.head())

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,18,U,GT3,A,4,4,AT_HOME,TEACHER,...,3,4,1,1,3,6,5,6,6,True
1,GP,F,17,U,GT3,T,1,1,AT_HOME,OTHER,...,3,3,1,1,3,4,5,5,6,False
2,GP,F,15,U,LE3,T,1,1,AT_HOME,OTHER,...,3,2,2,3,3,10,7,8,10,False
3,GP,F,15,U,GT3,T,4,2,HEALTH,SERVICES,...,2,2,1,1,5,2,15,14,15,False
4,GP,F,16,U,GT3,T,3,3,OTHER,OTHER,...,3,2,1,2,5,4,6,10,10,False

In [13]:
df_numeric = df.select_dtypes(include=[np.number]) * 10
df[df_numeric.columns] = df_numeric
display(df.head())

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3,legal_drinker
0,GP,F,180,U,GT3,A,40,40,AT_HOME,TEACHER,...,30,40,10,10,30,60,50,60,60,True
1,GP,F,170,U,GT3,T,10,10,AT_HOME,OTHER,...,30,30,10,10,30,40,50,50,60,False
2,GP,F,150,U,LE3,T,10,10,AT_HOME,OTHER,...,30,20,20,30,30,100,70,80,100,False
3,GP,F,150,U,GT3,T,40,20,HEALTH,SERVICES,...,20,20,10,10,50,20,150,140,150,False
4,GP,F,160,U,GT3,T,30,30,OTHER,OTHER,...,30,20,10,20,50,40,60,100,100,False