In [1]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [5]:
import pandas as pd

In [4]:
chipo = pd.read_csv(url, sep='\t')

In [8]:
display(chipo.head())

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [12]:
chipo = pd.read_csv(url, sep='\t')
chipo['item_price'] = chipo['item_price'].str.replace('$', '', regex=False).astype(float)
chipo['unit_price'] = chipo['item_price'] / chipo['quantity']
expensive_products = chipo[chipo['unit_price'] > 10.00]
unique_expensive_products_count = expensive_products['item_name'].nunique()
print(f"Number of products that cost more than $10.00: {unique_expensive_products_count}")

Number of products that cost more than $10.00: 25

In [14]:
item_prices = chipo.groupby(['item_name', 'choice_description'])['unit_price'].mean().reset_index()
item_prices.rename(columns={'unit_price': 'product_price'}, inplace=True)
display(item_prices)

,item_name,choice_description,product_price
0,6 Pack Soft Drink,[Coke],6.49
1,6 Pack Soft Drink,[Diet Coke],6.49
2,6 Pack Soft Drink,[Lemonade],6.49
3,6 Pack Soft Drink,[Nestea],6.49
4,6 Pack Soft Drink,[Sprite],6.49
...,...,...,...
1854,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
1855,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1856,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1857,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
1858,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25

In [16]:
item_prices_sorted = item_prices.sort_values(by='item_name').reset_index(drop=True)
display(item_prices_sorted)

,item_name,choice_description,product_price
0,6 Pack Soft Drink,[Coke],6.49
1,6 Pack Soft Drink,[Diet Coke],6.49
2,6 Pack Soft Drink,[Lemonade],6.49
3,6 Pack Soft Drink,[Nestea],6.49
4,6 Pack Soft Drink,[Sprite],6.49
...,...,...,...
1854,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
1855,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49
1856,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Black Beans, Rice...",8.49
1857,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
1858,Veggie Soft Tacos,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",11.25

In [18]:
most_expensive_order_item = chipo.sort_values(by='item_price', ascending=False).iloc[0]
quantity_most_expensive = most_expensive_order_item['quantity']
print(f"The quantity of the most expensive item ordered was: {quantity_most_expensive}")

The quantity of the most expensive item ordered was: 15

In [20]:
veggie_salad_bowl_orders = chipo[chipo['item_name'] == 'Veggie Salad Bowl']
num_veggie_salad_bowl_orders = len(veggie_salad_bowl_orders)
print(f"'Veggie Salad Bowl' was ordered {num_veggie_salad_bowl_orders} times.")

'Veggie Salad Bowl' was ordered 18 times.

In [21]:
canned_soda_multiple_orders = chipo[(chipo['item_name'] == 'Canned Soda') & (chipo['quantity'] > 1)]
num_canned_soda_multiple_orders = len(canned_soda_multiple_orders)
print(f"'Canned Soda' was ordered more than once {num_canned_soda_multiple_orders} times.")

'Canned Soda' was ordered more than once 20 times.