In [3]:
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

In [2]:
import numpy as np
import pandas as pd

In [4]:
df=pd.read_csv(url,sep='\t')

In [5]:
chipo=df

In [6]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [8]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

In [6]:
print(df.index)

RangeIndex(start=0, stop=4622, step=1)

In [3]:
num_columns = df.shape[1]
print(f"The number of columns in the dataset is: {num_columns}")

The number of columns in the dataset is: 5

In [5]:
print(df.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

In [2]:
import pandas as pd
url='https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df=pd.read_csv(url,sep='\t')

num_observations = len(df)
print(f"The number of observations in the dataset is: {num_observations}")

The number of observations in the dataset is: 4622

In [8]:
most_ordered_item = df.groupby('item_name')['quantity'].sum().sort_values(ascending=False).index[0]
print(f"The most-ordered item was: {most_ordered_item}")

The most-ordered item was: Chicken Bowl

In [10]:
total_quantity_most_ordered = df[df['item_name'] == most_ordered_item]['quantity'].sum()
print(f"For the most-ordered item ('{most_ordered_item}'), {total_quantity_most_ordered} items were ordered.")

For the most-ordered item ('Chicken Bowl'), 761 items were ordered.

In [11]:
most_ordered_choice = df.groupby('choice_description')['quantity'].sum().sort_values(ascending=False).index[0]
print(f"The most-ordered item in the 'choice_description' column was: {most_ordered_choice}")

The most-ordered item in the 'choice_description' column was: [Diet Coke]

In [13]:
total_items_ordered = df['quantity'].sum()
print(f"The total number of items ordered was: {total_items_ordered}")

The total number of items ordered was: 4972

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [15]:
df['item_price'] = df['item_price'].apply(lambda x: float(x[1:]))
print("The 'item_price' column has been converted to a float data type.")

The 'item_price' column has been converted to a float data type.

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   float64
dtypes: float64(1), int64(2), object(2)
memory usage: 180.7+ KB

In [19]:
total_revenue = (df['quantity'] * df['item_price']).sum()
print(f"The total revenue for the period was: ${total_revenue:.2f}")

The total revenue for the period was: $39237.02

In [21]:
num_orders = df['order_id'].nunique()
print(f"The total number of orders made in the period was: {num_orders}")

The total number of orders made in the period was: 1834

In [23]:
average_revenue_per_order = total_revenue / num_orders
print(f"The average revenue per order was: ${average_revenue_per_order:.2f}")

The average revenue per order was: $21.39

In [25]:
num_different_items = df['item_name'].nunique()
print(f"The number of different items sold was: {num_different_items}")

The number of different items sold was: 50